body {
  font-size: 20px;
  font-family: "Nanum Gothic", sans-serif;
  line-height: 1.2rem;
  height: 100vh;
  background-image: url("../imagenes/4935872.jpg");
}

.datos .h2-formulario, body h1 {
  text-decoration: underline;
  border: 1px groove #D8DECE;
  padding: 5px 7px 5px 7px;
  text-align: center;
  margin-top: 70px;
}

footer {
  background-color: #333;
  width: 100%;
}

/* header */
header .logo-meta {
  width: 45px;
}
header .navbar {
  margin-bottom: 40px;
  background-color: #F6F6F4;
}
header .nav-link {
  font-size: 13px;
}

/* Fundacion logoterapeuta */
.fundacion-logoterapeuta {
  margin-bottom: 70px;
  margin-top: 70px;
}
.fundacion-logoterapeuta .h1-logoterapia {
  margin-top: 100px;
}
.fundacion-logoterapeuta .parrafo-logoterapia {
  text-align: justify;
}
.fundacion-logoterapeuta .video {
  float: left;
  margin-right: 20px;
}

/* profesionales */
.profesionales {
  margin-top: 306px;
}
.profesionales .profesionales1 {
  width: 300px;
}
.profesionales .card-img-top:hover {
  animation: swing;
  animation-duration: 1s;
}

/*victor frankl*/
.victor-frankl .card-img-top:hover {
  animation: bounce;
  animation-duration: 1s;
}

/* footer */
footer {
  margin-top: 619px;
}
footer .grid-footer {
  display: flex;
  justify-content: center;
}
footer .logo-footer {
  display: Flex;
  justify-content: center;
  border-radius: 100px;
  height: 100px;
  width: 100px;
  margin-top: 50px;
}
footer .texto-footer {
  margin-left: 200px;
}
footer .logo-footer1 {
  display: Flex;
  justify-content: right;
}
footer .icono {
  margin-left: -60px;
}
footer .h3-footer {
  color: #fff;
  margin-bottom: 40px;
  text-decoration: underline;
}
footer .contenido-footer {
  margin-top: 50px;
}

/*
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    gap: 30px;

*/
@media only screen and (max-width: 400px) {
  /* fundacion logoterapia */
  .parrafo-logoterapia {
    font-size: 18px;
    margin-top: 400px;
    margin-left: -372px;
  }

  .h1-logoterapia {
    width: 692px;
  }

  /* profesionales */
  .profesionales {
    margin-top: 142px;
  }

  .h1-profesionales {
    width: 692px;
  }

  .contenido-profesionales1 {
    margin-left: 70px;
  }

  .contenido-profesionales {
    margin-left: 0px;
    width: 600px;
  }
}
.profesionales1 {
  padding: 15px;
}

.contenedor-profesionales {
  margin-left: 20px;
  text-align: initial;
}

.elemento-profesionales {
  margin-right: 98px;
}

/* victor frankl*/
.contenido-victor {
  margin-left: 54px;
}

.victor-frankl {
  margin-top: 69px;
}

.h1-victor {
  width: 692px;
}

.victor-f {
  font-size: 18px;
  margin-right: -298px;
}

.box1, .box2, .box3 {
  padding: 17px;
}

/* Comunicate con nosotros */
.grid-comunicate {
  display: grid;
}

.h1-encontranos {
  width: 692px;
}

.conteiner-mapa {
  position: relative;
  top: 551px;
  right: 260px;
}

.dejanos {
  position: relative;
  left: 174px;
  bottom: 31px;
}

.mapa {
  width: 500px;
}

/*footer*/
footer .contenido-footer {
  width: 100%;
}
footer .logo-footer1 {
  padding: auto;
}
footer .texto-footer {
  padding: auto;
}
footer .h3-footer {
  font-size: 15px;
  margin-left: -20px;
}

/* fin de mobile */
@media (min-width: 768px) and (max-width: 1024px) {
  /* fundacion logoterapia*/
  .parrafo-logoterapia {
    text-align: left;
  }

  /* profesionales */
  .contenido-profesionales {
    margin-left: 121px;
  }

  .contenido-profesionales1 {
    margin-left: 35px;
  }

  .h1-logoterapia {
    width: 874px;
  }

  .h1-profesionales {
    width: 874px;
  }

  /* Victor frankl */
  .h1-victor {
    width: 874px;
  }

  .victor-f {
    text-align: center;
    position: relative;
    left: 84px;
  }

  .grid-imagenes {
    margin-left: 173px;
  }

  .box1 {
    margin-right: 12px;
  }

  .box2 {
    margin-right: 10px;
  }

  /* encontranos */
  .h1-encontranos {
    width: 874px;
  }

  .conteiner-mapa {
    margin-left: -689px;
    position: relative;
    top: 590px;
  }

  .formulario {
    position: relative;
    bottom: 28px;
    left: 19px;
  }

  .mapa {
    margin-left: 34px;
  }

  .dejanos {
    margin-left: 30px;
  }

  /* footer */
  footer {
    width: 1023px;
  }
}
#form-main {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 0px;
  margin-top: 180px;
  margin-right: 300px;
  margin-left: 14px;
}

#form-div {
  background-color: rgba(72, 72, 72, 0.4);
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 35px;
  padding-bottom: 50px;
  width: 450px;
  margin-top: -140px;
}

.feedback-input {
  color: #3c3c3c;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
}

.feedback-input:focus {
  background: #fff;
  box-shadow: 0;
  border: 3px solid #3498db;
  color: #3498db;
  outline: none;
  padding: 13px 13px 13px 54px;
}

.focused {
  color: #30aed6;
  border: #30aed6 solid 3px;
}

textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  background-color: white;
}

#button-blue {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  float: left;
  width: 100%;
  border: #fbfbfb solid 4px;
  background-color: #3498db;
  color: #fff;
  font-size: 24px;
  padding-top: 22px;
  padding-bottom: 22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

#button-blue:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #0493bd;
}

.submit:hover {
  color: #3498db;
}

.ease {
  width: 0px;
  height: 74px;
  background-color: #fbfbfb;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease;
}

.submit:hover .ease {
  width: 100%;
  background-color: white;
}

.grid-comunicate {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mapa {
  padding: auto;
  margin-top: 30px;
}

.fa-street-view {
  margin-top: 40px;
  font-size: 20px;
}

.direccion-encontranos {
  font-size: 20px;
}

.conteiner-mapa, .formulario {
  margin-top: 110px;
}

/*# sourceMappingURL=style.css.map */
