

.grid-comunicate{
   
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mapa{
    padding: auto;
    // position: relative;
    // bottom: 550px;
    // left: 969px;
    margin-top: 30px;
}

.fa-street-view{
    margin-top: 40px;
    font-size: 20px;
}

.direccion-encontranos{
    font-size: 20px;
    // position: relative;
    // bottom: 559px;
    // left: 969px;
    
}


.conteiner-mapa, .formulario{
    margin-top: 110px;
}
   
