@media only screen and (max-width: 400px){
  
    
    /* fundacion logoterapia */

    .parrafo-logoterapia{
        font-size: 18px;
        margin-top: 400px;
        margin-left: -372px;
    }

    .h1-logoterapia{
        width: 692px;
    }
   
    /* profesionales */

    .profesionales{
        margin-top: 142px;

    }

    .h1-profesionales{
        width: 692px;
    }

    .contenido-profesionales1{
        margin-left: 70px;
    }
    .contenido-profesionales{
        margin-left: 0px;
        width: 600px;
      }
     }  
    
    
    .profesionales1{
        padding: 15px;
    }
    .contenedor-profesionales{
        margin-left: 20px;
        text-align: initial;

    }
     
    .elemento-profesionales{
        margin-right: 98px;
    }
    /* victor frankl*/
    
    .contenido-victor{
        margin-left: 54px;
     }
    
    .victor-frankl{
        margin-top: 69px
    }
    .h1-victor{
        width: 692px;
    }

   .victor-f{
       font-size: 18px;
       margin-right: -298px;
   }

   .box1, .box2, .box3{
    padding: 17px;
   }
    

   /* Comunicate con nosotros */


   .grid-comunicate{
       display: grid;
   }
   .h1-encontranos{
    width: 692px;
   }

   .formulario{
    // position: relative;
    // left: 181px;
    // bottom: 40px;
   }

   .conteiner-mapa{
    position: relative;
    top: 551px;
    right: 260px;
   }
   
   .dejanos{
    position: relative;
    left: 174px;
    bottom: 31px;
   }
   
   .mapa{
       width: 500px;
   }


   /*footer*/
   footer{ 
    //  width: 608px;
   
     .contenido-footer{
         width: 100%;
     }
     .logo-footer1{
        padding: auto;
    }
   
    .texto-footer{
        padding: auto;
    }

        .h3-footer{
        font-size: 15px;
        margin-left: -20px;

        }
         
        
        
   }      

        
  
    


/* fin de mobile */

@media (min-width: 768px) and (max-width: 1024px) {
   
    /* fundacion logoterapia*/
    .parrafo-logoterapia{
       
        text-align: left;
    }


/* profesionales */

.contenido-profesionales{
    margin-left: 121px;
  }
   
 .contenido-profesionales1{
    margin-left: 35px;
 }

 
 
 .h1-logoterapia{
    width:874px;
 }

 .h1-profesionales{
    width: 874px;
 }

 /* Victor frankl */

.h1-victor{
    width: 874px;
}

.victor-f{
    text-align: center;
    position: relative;
    left: 84px;
}

.grid-imagenes{
    margin-left: 173px;
}

.box1{
    margin-right: 12px;
}

.box2{
    margin-right: 10px;
}


/* encontranos */
.h1-encontranos{
    width: 874px;
}

.conteiner-mapa{
    margin-left: -689px;
    position: relative;
    top: 590px;
}

.formulario{
    position: relative;
    bottom: 28px;
    left: 19px;
}

.mapa{
    margin-left: 34px;
}

.dejanos{
    margin-left: 30px;
}

// /* formulario */
// .h2-formulario{
//     width: 916px;
// }


/* footer */
footer{
    width: 1023px;
 }


 

}


	
 


