/* profesionales */
.profesionales{
    
        margin-top: 306px;
       
        
       
        .profesionales1{
          width: 300px;
          
        }
      

     .card-img-top:hover{
      animation: swing; 
      animation-duration: 1s;
      
      
     }
 
     
     

}